# Day 15: Tuples in Python

## What is a Tuple?
A **tuple** is an ordered, immutable collection of items in Python. Tuples are similar to lists, but unlike lists, tuples cannot be changed (they are immutable) after creation. Tuples are defined by placing elements inside parentheses `()`, separated by commas.

### Key Properties of Tuples:
- **Ordered:** The order of elements is preserved.
- **Immutable:** Elements cannot be changed, added, or removed after creation.
- **Allow Duplicates:** Tuples can contain duplicate values.
- **Can Contain Different Data Types:** Tuples can store integers, strings, lists, or even other tuples.

Tuples are commonly used for data that should not be modified and for returning multiple values from a function.

---

## Tuple Initialization

A tuple is an ordered, immutable collection of items. You can create a tuple by placing values inside parentheses ().

In [ ]:
# Creating a tuple with integers
MyList = (10, 20, 30, 40)
# Tuples can contain any data type, including strings, floats, or even other tuples

In [ ]:
# Check the type of MyList
# This should return <class 'tuple'>
type(MyList)

tuple

In [ ]:
# List all available methods and attributes for tuple objects
# This is useful to see what operations you can perform on tuples
print(dir(tuple))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Inbuilt Functions for Tuples

Python provides several built-in functions that work with tuples, such as `min`, `max`, `sum`, `sorted`, and more.

In [ ]:
# Print the tuple
print(MyList)  # Output: (10, 20, 30, 40)

(10, 20, 30, 40)

In [ ]:
# Check the type of MyList again (for demonstration)
type(MyList)  # Output: <class 'tuple'>

tuple

In [ ]:
# Find the minimum value in the tuple
min(MyList)  # Output: 10

10

In [ ]:
# Find the maximum value in the tuple
max(MyList)  # Output: 40

40

In [ ]:
# Calculate the sum of all elements in the tuple
sum(MyList)  # Output: 100

100

In [ ]:
# Get a sorted list from the tuple (tuples are immutable, so this returns a new list)
sorted(MyList)  # Output: [10, 20, 30, 40]

[10, 20, 30, 40]

In [ ]:
# Reverse the tuple (returns an iterator, so convert to list)
list(reversed(MyList))  # Output: [40, 30, 20, 10]

[40, 30, 20, 10]

**Concatenation**

- Combining Tuple with New Tuple and New Direct Elements

In [40]:
new_tuple=(60,70,80)

l=MyList+new_tuple
l

(90, 100, 60, 70, 80)

In [42]:
l

(90, 100, 60, 70, 80)

In [48]:
mytuple=('a','b','c',1,2,3)

In [52]:
newtuple=mytuple+(4,5,6)
newtuple

('a', 'b', 'c', 1, 2, 3, 4, 5, 6)

In [54]:
tuples=(1,2,3)+(4,5,6)
tuples

(1, 2, 3, 4, 5, 6)

**Index Operations**

In [77]:
tuples[0],tuples[1],tuples[2],tuples[3],tuples[4],tuples[5]

(1, 2, 3, 4, 5, 6)

In [79]:
tuples[0]=5  # Tuples are immutable we cant change their value

TypeError: 'tuple' object does not support item assignment

**mutable vs immutable**

- mutable means change (the Character **using indexing**)

- immutable means not able to change(the character **using indexing**)

**Tuple are Immutable we can't change their value**

**Slicing**

In [84]:
tuples[:]

(1, 2, 3, 4, 5, 6)

In [86]:
tuples[::2]

(1, 3, 5)

In [88]:
tuples[1:5]

(2, 3, 4, 5)

In [90]:
tuples[::-2]

(6, 4, 2)

In [92]:
tuples[::-1]

(6, 5, 4, 3, 2, 1)

**Methods**

'count' 
'index'

In [102]:
tuples.count(1)  # Return number of occurrences of value.

1

In [104]:
Val=(1,1,1,2,2,5,5,6,7,8)
Val.count(1)

3

In [106]:
Val.count(2)

2

In [112]:
tuples.index(5)

4

In [118]:
values=('a','b','c','d')

In [120]:
values.index('d')

3

In [ ]:
# Some Practice Questions

In [9]:
# Create a tuple with values (10, 20, 30, 40, 50) and access the 3rd element.

numbers=(10,20,30,40,50)
numbers[2]

30

In [ ]:
'''Create a tuple: colors = ("red", "green", "blue", "yellow")

Now, try to:

Access the last element using negative indexing.

Slice the tuple to get only ("green", "blue").'''

In [13]:
colors = ("red", "green", "blue", "yellow")
print(colors[-1])
print(colors[1:3])

yellow
('green', 'blue')

In [ ]:
'''Given the tuple:

fruits = ("apple", "banana", "cherry", "mango")


Do the following:

1. Check if "banana" exists in the tuple (return True/False).

2. Try to change "apple" to "grape" â†’ observe what happens.

Explain why.'''

In [19]:
fruits = ("apple", "banana", "cherry", "mango")

if 'banana' in fruits:
    print('True')
else:
    print('False')

True

In [23]:
fruits[0]='grape'  # The Tuple is Immutable which means that we cant change the value using index

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''Given the tuple:

numbers = (10, 20, 30, 40, 50, 60, 70)


Do the following:

Get the first three elements.

Get the last two elements.

Get every second element from the tuple.

Reverse the tuple using slicing.'''

In [25]:
numbers = (10, 20, 30, 40, 50, 60, 70)

In [29]:
numbers[:3]

(10, 20, 30)

In [33]:
numbers[-2:]

(60, 70)

In [35]:
numbers[::2]

(10, 30, 50, 70)

In [37]:
numbers[::-1]

(70, 60, 50, 40, 30, 20, 10)

In [ ]:
'''You have this tuple:

person = ("Anand", 25, "Engineer", ["Python", "SQL", "ML"])


Tasks:

Access the name and profession from the tuple.

Add a new skill "Deep Learning" to the skills list inside the tuple.

Print the updated tuple.'''

In [39]:
person = ("Anand", 25, "Engineer", ["Python", "SQL", "ML"])

In [45]:
person[0],person[2]

('Anand', 'Engineer')

In [53]:
person[3]='Deep Learning'       # We Cant Directly assign the value to the list using the index

TypeError: 'tuple' object does not support item assignment

In [57]:
person[3].append('Deep Learning')     # instead of using the index we can try the list method 'append' to add the value to the list
person                            # I Have Run the Program twise that we get the double Deep Learning as output

('Anand',
 25,
 'Engineer',
 ['Python', 'SQL', 'ML', 'Deep Learning', 'Deep Learning'])

In [59]:
print(person)

('Anand', 25, 'Engineer', ['Python', 'SQL', 'ML', 'Deep Learning', 'Deep Learning'])