# Day 16: Sets in Python — My Learning Documentation

## What is a Set?
A **set** is an unordered collection of unique, mutable elements in Python. Sets are useful for storing non-duplicate items and performing mathematical set operations like union, intersection, and difference.

### Key Properties of Sets:
- **Unordered:** No indexing or order is guaranteed.
- **Unique:** No duplicate elements allowed.
- **Mutable:** You can add or remove elements after creation.
- **Heterogeneous:** Can store different data types (except unhashable types like lists/dicts).

Sets are commonly used for membership testing, removing duplicates from a sequence, and set operations.

---

## Set Initialization

You can create a set by placing comma-separated values inside curly braces `{}`. Duplicates are automatically removed.

In [ ]:
# Creating a set with duplicate values
nums = {1, 2, 3, 3, 2}
print(nums)   # Output: {1, 2, 3} → duplicates are removed automatically

{1, 2, 3}

### Key Properties of Sets

- **Unordered:** No indexing (can’t access by position).
- **Unique:** No duplicates allowed.
- **Mutable:** Can add or remove items after creation.
- **Heterogeneous:** Can store different types (int, str, tuple).
- **Unhashable items:** Lists and dicts cannot be added to a set.

In [ ]:
# Sets can store different data types (except unhashable types)
s = {"apple", 42, (1, 2)}   # Strings, integers, and tuples are allowed
print(s)  # Output: {'apple', 42, (1, 2)}

{42, (1, 2), 'apple'}

## Creating Sets

- To create an empty set, use `set()`. Using `{}` creates an empty dictionary, not a set.
- You can also create sets from lists, strings, or other iterables.

In [ ]:
# Creating an empty set
s = set()  # Correct way to create an empty set
# Note: {} creates an empty dictionary, not a set

In [ ]:
# Creating a set with curly braces
fruits = {"apple", "banana", "cherry"}
fruits  # Output: {'apple', 'banana', 'cherry'}

{'apple', 'banana', 'cherry'}

In [ ]:
# Creating a set from a list (removes duplicates)
nums = set([1, 2, 2, 3])
print(nums)  # Output: {1, 2, 3}

# Creating a set from a string (each character becomes an element)
chars = set("hello")
print(chars)  # Output: {'h', 'e', 'l', 'o'}

{1, 2, 3}
{'o', 'e', 'h', 'l'}

In [ ]:
# List all available methods and attributes for set objects
print(dir(set))

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# Creating a set with duplicate values (again, for demonstration)
nums = {1, 2, 3, 3, 2}  # Output: {1, 2, 3}

In [ ]:
# Check the type of nums
# Output: <class 'set'>
type(nums)

set

In [ ]:
# Get the number of elements in the set
len(nums)  # Output: 3

3

In [ ]:
# Print the set
print(nums)  # Output: {1, 2, 3}

{1, 2, 3}

In [ ]:
# Find the minimum value in the set
min(nums)  # Output: 1

1

In [ ]:
# Find the maximum value in the set
max(nums)  # Output: 3

3

In [ ]:
# Calculate the sum of all elements in the set
sum(nums)  # Output: 6

6

In [ ]:
# Get a sorted list from the set (returns a new list)
sorted(nums)  # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:
# Attempting to reverse a set will not work, as sets are unordered
reversed(nums)   # This will not give a meaningful result for sets

TypeError: 'set' object is not reversible

## Exploring Set Methods

Python sets provide many useful methods for adding, removing, and performing set operations. Let's explore them with examples.

### add()

- Adds a single element to the set.
- If the element already exists, the set remains unchanged.
- Only hashable (immutable) types can be added.

In [ ]:
# Example set for add() method
demo_set = {1, 2, 3, 4}

In [ ]:
# Trying to add a list (mutable/unhashable) will raise an error
# demo_set.add([5, 6, 7, 8])  # TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [ ]:
# Add an element to the set
# If the element is already present, nothing changes
demo_set.add(5)
demo_set  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Adding an already present element has no effect
demo_set.add(1)  # No error, set remains unchanged
demo_set

{1, 2, 3, 4, 5}

In [ ]:
# add() only takes one argument; adding multiple elements at once raises an error
# demo_set.add(6, 7)  # TypeError: set.add() takes exactly one argument

TypeError: set.add() takes exactly one argument (2 given)

### clear()

- Removes all elements from the set, making it empty.

- After calling `clear()`, the set will be empty: `set()`.

In [ ]:
# Example: Using clear() to empty a set
nums = {1, 2, 3, 4, 5, 'a', 'b', 'c'}
nums.clear()  # Now nums is an empty set

In [ ]:
# After clear(), nums is empty
print(nums)  # Output: set()

set()

**copy()**

- Returns a shallow copy of the set.

In [81]:
nums={1,2,3,4,5,'a','b','c'}

In [85]:
s=nums.copy()      # Copying the data of the nums into 's' Variable using the copy() method

In [87]:
s

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

**difference()**

- Returns elements in set A that are not in set B.

In [173]:
A = {1,2,3,4}
B = {3,4,5}
print(A.difference(B))  # {1,2}

{1, 2}

**difference_update()**

- Remove all elements of another set from this set.

In [177]:
A = {1,2,3,4}
B = {3,4,5}
A.difference_update(B)
print(A)  # {1,2}

{1, 2}

**discard()**

- Remove an element from a set if it is a member.

- Unlike set.remove(), the discard() method does not raise
  an exception when an element is missing from the set.

In [130]:
nums.discard(1)      # It Removes the Element from the set
nums

{2, 3, 4, 5, 'a', 'b', 'c'}

In [136]:
nums.discard('d')    # It does'nt Provide any error even if you enter the element that is not in list

In [138]:
nums.discard()       # Discard take the one parameter as input to remove that value

TypeError: set.discard() takes exactly one argument (0 given)

**intersection()**

- Similar to the math(sets) it return the matching values from both sets
- Return the intersection of two sets as a new set.

  (i.e. all elements that are in both sets.)

In [144]:
setA={1,2,3,5}
setB={1,2,3,4,5,6,7,8} 

setA.intersection(setB)

{1, 2, 3, 5}

**intersection_update()**

- Update a set with the intersection of itself and another.
- Updates set A with only common elements.

In [181]:
A = {1,2,3}
B = {2,3,4}
A.intersection_update(B)
print(A)  # {2,3}

{2, 3}

**isdisjoint()**

- Returns True if sets have no elements in common.

In [184]:
A.isdisjoint()  # isdisjoint takes one args as input

TypeError: set.isdisjoint() takes exactly one argument (0 given)

In [188]:
A.isdisjoint(B)  # False that there some Matching values inside the both sets

False

In [190]:
A = {1,2}
B = {3,4}
print(A.isdisjoint(B))  # True

True

**issubset()**

- Test whether every element in the set is in other

- Checks if all elements of A are in B.

In [194]:
A = {1,2}
B = {3,4}
A.issubset(B) # there not matching values in the Both sets

False

In [198]:
A = {1,2}
B = {1,2,3,4}
print(A.issubset(B))  # True

True

**issuperset()**

- Test whether every element in other is in the set.

- Checks if A contains all elements of B.

In [205]:
A = {1,2,3,4}
B = {2,3}
print(A.issuperset(B))  # True

True

In [209]:
A = {1,4}
B = {2,3}         
print(A.issuperset(B))  # True # Checks the B if any element of A is present in it

False

**pop()**

- Remove and return an arbitrary set element.
- Raises KeyError if the set is empty.

In [218]:
A.pop()  # unlike pop in list the pop() in set remove the elements from the beginning from index '0'

4

In [220]:
s = {1,2,3}
print(s.pop())  # Might return 1 (or 2, or 3)
print(s)        # Remaining set

1
{2, 3}

⚡ Since sets are unordered, you don’t know which element will be popped.

**remove()**

- Remove an element from a set; it must be a member.

- If the element is not a member, raise a KeyError.

- Removes an element (❌ error if not found).

In [226]:
s = {1,2,3}
s.remove(2)
print(s)  # {1,3}

# s.remove(10) → KeyError ⚠️

{1, 3}

**symmetric_difference()**

- Return the symmetric difference of two sets as a new set.

- (i.e. all elements that are in exactly one of the sets.)

- Elements in A or B but not in both.

In [229]:
A.symmetric_difference(B)

{2, 3}

In [270]:
A = {1,2,3}
B = {3,4}
print(A.symmetric_difference(B))  # {1,2,4}  it Does'nt Store the Value in A its print the value
print(A)

{1, 2, 4}
{1, 2, 3}

**symmetric_difference_update()**

- Update a set with the symmetric difference of itself and another.

- Updates A with symmetric difference (in-place)

In [268]:
A = {1,2,3}
B = {3,4}
A.symmetric_difference_update(B)  # Here we A stores the symentric difference in A (in_place)
print(A)  # {1,2,4}

{1, 2, 4}

**union()**

- Returns all elements from both sets (like OR).

- Return the union of sets as a new set.

- (i.e. all elements that are in either set.)

In [274]:
A.union(B)

{1, 2, 3, 4}

In [276]:
A = {1,2}
B = {2,3}
print(A.union(B))  # {1,2,3}

{1, 2, 3}

**update()**

- Adds multiple elements or another set.

- Update a set with the union of itself and others.

In [279]:
s = {1,2}
s.update([3,4,5])
print(s)  # {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [283]:
A.update(B)
A

{1, 2, 3}