**List Comprehension**

- writing list operation in a line is called as List Comprehension

- Generally Code Process time will be increase when we use for and if

- List Comprehension will reduce the processing time

**List Comprehension**

List comprehension is a concise way to create lists in Python using a single line of code. It is more readable and often faster than using traditional for-loops and if-statements.

**Why use List Comprehension?**
- It makes your code shorter and easier to read.
- It can reduce the processing time compared to using for and if statements separately.

**General Syntax:**
```python
[expression for item in iterable if condition]
```

**Example 1: Create a list of squares from 1 to 5**
```python
squares = [x**2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]
```

**Example 2: Get even numbers from a list**
```python
numbers = [1, 2, 3, 4, 5, 6]
evens = [n for n in numbers if n % 2 == 0]
print(evens)  # Output: [2, 4, 6]
```

List comprehensions help you write clean, efficient, and Pythonic code!

**List with For Loop**

In [8]:
# append 1 to 10 numbers in a list

lst=[]

for i in range(1,11):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
# what is for loop line: for i in range(1,11):
# whar is the output: i

# l=[<output> <for loop>]
l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

# Q5) input=['hyd','bengaluru','mumbai','chennai']
#     multiply all indexes by 10

# Q6) input=['hyd','bengaluru','mumbai','chennai']
#     sum of all indexes

# Q7) Sum of first 10 Natural numbers

In [30]:
#Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']


input_Q1=['hyd','bengaluru','mumbai','chennai']
output=[]

for i in input_Q1:
    output.append(i.title())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [38]:
l=[i.title() for i in input_Q1]
l

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [32]:
# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

input_Q2=['hyd','bengaluru','mumbai','chennai']
output_Q2=[]

for i in input_Q2:
    output_Q2.append(i.upper())
output_Q2

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [36]:
l1=[i.upper() for i in input_Q2]
l1

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [42]:
# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

input_Q3=['hyd','bengaluru','mum#bai','chen#nai']
output_Q3=[]

for i in input_Q3:
    if '#' in i:
        output_Q3.append(i)
output_Q3

['mum#bai', 'chen#nai']

$Case-2$: **for-if condition**

In [ ]:
[<output> <for loop>]
[<output> <for loop> <if condition>]

In [4]:
import random
numbers=[random.randint(1,100) for i in range(5)]
numbers

[35, 35, 47, 26, 40]

In [50]:
# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

input_Q4=['hyd','bengaluru','mum#bai','chen#nai']
output_Q4=[]

for i in input_Q4:
    if '#' not in i:
        output_Q4.append(i)
output_Q4

['hyd', 'bengaluru']

In [54]:
l4=[i for i in input_Q4 if '#' not in i]
l4

['hyd', 'bengaluru']

In [58]:
import random

numbers=[random.randint(1,100) for i in range(5)]
even_lst=[]

for i in numbers:
    if i%2==0:
        even_lst.append(i)
even_lst

[98, 8, 10]

In [62]:
l5=[i for i in numbers if i%2==0]
l5

[98, 8, 10]

In [70]:
# Q5) input=['hyd','bengaluru','mumbai','chennai']
#     multiply all indexes by 10

input_Q5=['hyd','bengaluru','mumbai','chennai']
output_Q4=[]

for i in input_Q5:
    output_Q4.append(input_Q5.index(i)*10)
output_Q4

[0, 10, 20, 30]

In [74]:
l6=[input_Q5.index(i)*10 for i in input_Q5]
l6

[0, 10, 20, 30]

In [78]:
# Q6) input=['hyd','bengaluru','mumbai','chennai']
#     sum of all indexes

input_Q6=['hyd','bengaluru','mumbai','chennai']
output_Q6=[]

for i in input_Q6:
    output_Q6.append(input_Q6.index(i))
sum(output_Q6)

6

In [82]:
l7=[input_Q6.index(i) for i in input_Q6]
sum(l7)

6

**$Case-3$ for - if - else**

In [ ]:
[<output> <for loop>]
[<output> <for loop> <if Cond>]
[<output if> <if Cond> <else cond> <else output> <for loop>]

In [99]:
# Even odd code

numbers1=[random.randint(1,100) for i in range(5)]
even_lst1=[]
odd_lst2=[]
for i in numbers1:
    if i%2==0:
        even_lst1.append(f"Even:{i}")
    else:
        odd_lst2.append(f"Odd:{i}")
print(even_lst1,odd_lst2)

['Even:8'] ['Odd:27', 'Odd:21', 'Odd:17', 'Odd:83']

In [103]:
# [<if out> <if cond> <else> <else out> <for loop>]

l8=[f"Even:{i}" if i%2==0 else f"Odd:{i}" for i in numbers1] 
l8

['Odd:27', 'Odd:21', 'Odd:17', 'Even:8', 'Odd:83']

**$Case - 4$ for - if - elif - else**

In [ ]:
[<output> <for loop>]
[<output> <for loop> <if cond>]
[<if out> <if cond> else <else out> <for loop>]
[<if out> <if cond>

In [111]:
marks=[50,70,90]
grades=[]
for i in marks:
    if i>85:
        grades.append('A')
    elif i>65:
        grades.append('B')
    else:
        grades.append('C')
grades

['C', 'B', 'A']

In [115]:
lst=['A'  if i>85 else 'B' if i>65 else 'C' for i in marks]
lst

['C', 'B', 'A']

In [1]:
marks=[45,76,89,53,67,90,82,49,33,99]

In [7]:
# a) filter students who passed (marks>=50)

passed=[i for i in marks if i>=50]
passed

[76, 89, 53, 67, 90, 82, 99]

In [25]:
# b) Calculate grades of all students (A: 85+, B:70-84, C: 50-69, D:<50)

# [<if out> <if cond> else <else out> <for loop>]

grades=['A' if i<85 else 'B' if 70<i<84 else 'C' if 50<i<69 else 'D' for i in marks]
grades

['A', 'A', 'D', 'A', 'A', 'D', 'A', 'A', 'A', 'D']

In [45]:
# c) add 5 grades marks to students who failed (<50)

add_marks=[f"Before:{i}: After:{i+5}" for i in marks if i<50]
add_marks

['Before:45: After:50', 'Before:49: After:54', 'Before:33: After:38']

**Velrus Operators**

In [52]:
marks=list(range(1,11))
summ=0

# [summ=summ+i for i in marks]
# i will not support =
# i will support ==
# i will support Velrus Operator :=

summ=[summ:=summ+i for i in marks][-1]
summ/len(marks)

5.5

**Practice Problems**

In [9]:
[items_list for items_list in range(10)]

[0, 4, 16, 36, 64]

In [11]:
[items_list**2 for items_list in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
[items_list**2 for items_list in range(10) if items_list%2==0]

[0, 4, 16, 36, 64]

In [23]:
[f"Sqauare of {items_list} is {items_list**2}" for items_list in range(10) if items_list%2==0]

['Sqauare of 0 is 0',
 'Sqauare of 2 is 4',
 'Sqauare of 4 is 16',
 'Sqauare of 6 is 36',
 'Sqauare of 8 is 64']

In [27]:
nested = [[1,2,3], [4,5], [6,7,8]]
list_lst=[]

In [39]:
#Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

input_q1=['hyd','bengaluru','mumbai','chennai']
output_q1=[]

for i in input_q1:
    output_q1.append(i.title())
output_q1

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [41]:
lst_output_q1=[i.title() for i in input_q1]

In [43]:
lst_output_q1

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [ ]:
#  There are three cases for writing the list comprehension

# Case -1:
[<output> <for loop>]

# Case -2:
[<output> <for loop> <if Condition>]

# Case -3:
[<if output> <if Condition> <else cond> <else output> <for loop>]

In [5]:
nested = [[1,2,3], [4,5], [6,7,8]]

In [9]:
# Flaten the list using the for loop

flaten_list=[]
for i in nested:
    if isinstance(i,list):
        for j in i:
            flaten_list.append(j)
    else:
        flaten_list.append(i)
print(flaten_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
# Flaten the list uisng the list comprehension

flaten_list1=[j if isinstance(i,list) else i for i in nested]
print(flaten_list1)

[8, 8, 8]

In [15]:
flatten_list = [j for i in nested for j in i]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8]

**Some Practice question on the list comprehensions**

In [23]:
# Create a list of all numbers from 1 to 20 using list comprehension.

num_list=[i for i in range(1,21)]
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
# Create a list of all even numbers between 1 and 50.

num_list1=[i for i in range(1,51) if i%2==0]
print(num_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [35]:
# Generate a list of squares of numbers from 1 to 10.

num_list2=[f'Square of {i} is {i**2}' for i in range(1,11)]
num_list2

['Square of 1 is 1',
 'Square of 2 is 4',
 'Square of 3 is 9',
 'Square of 4 is 16',
 'Square of 5 is 25',
 'Square of 6 is 36',
 'Square of 7 is 49',
 'Square of 8 is 64',
 'Square of 9 is 81',
 'Square of 10 is 100']

In [41]:
# From a list of strings ["apple", "banana", "cherry"], create a new list with their lengths.

fruits=["apple", "banana", "cherry"]    # We need to create the new list with length of the every string in the list

new_lst=[len(i) for i in fruits]        # we are looping through the list and instead of storing the value we store the lenth of string using len(i)
new_lst

[5, 6, 6]

In [73]:
# Extract all vowels from the string "list comprehension is powerful" using the list comprehension

string="list comprehension is powerful"

vowels=[i for i in string if i in 'aeiou']
vowels

['i', 'o', 'e', 'e', 'i', 'o', 'i', 'o', 'e', 'u']

In [75]:
# Create a list of numbers from 1 to 30 that are divisible by 3 and 5.

number_list=[i for i in range(1,31) if i%3==0 and i%5==0]
number_list

[15, 30]

In [79]:
# Given words = ["hello", "python", "world"], generate a list of words with uppercase letters.

words= ["hello", "python", "world"]

upper_words=[i.upper() for i in words]
print(upper_words)

['HELLO', 'PYTHON', 'WORLD']

In [92]:
# Flatten a nested list [[1, 2], [3, 4], [5, 6]] into [1, 2, 3, 4, 5, 6].

num_lst=[[1, 2], [3, 4], [5, 6]]

# Am Just experimenting this Flattening without the isinstance function and methods

flatten_list1 = []

for item in num_lst:
    try:
        for j in item:   # if item is iterable (like list, string, tuple)
            flatten_list1.append(j)
    except TypeError:
        flatten_list1.append(item)   # if item is not iterable, add directly

print(flatten_list1)

[1, 2, 3, 4, 5, 6]