# Day 14: Lambda Functions in Python

This notebook is my personal **Learning Documentation** on Lambda Functions in Python. It contains my notes, explanations, and practice examples as I explore and master lambda functions, including their use with `map`, `filter`, and `reduce`.

---

## What is a Lambda Function?

- A **lambda function** is a small, anonymous function defined with the `lambda` keyword.
- It is similar to list comprehensions in its concise, single-line syntax.
- Lambda functions are often used for short, throwaway functions where defining a full function with `def` would be overkill.

**Syntax:**
```python
lambda arguments: expression
```

### Case 1: Lambda Function with One Argument

Let's start by converting a simple function to a lambda function.

In [ ]:
# Traditional function to add 10 to a number
def add(a):
    return a + 10

# Example usage:
add(20)

30

In [ ]:
# Function name: add
# Argument: a
# Output: a + 10

# Lambda function syntax:
# <function_name> = lambda <args>: <output>

In [ ]:
# Lambda function equivalent of the above
add = lambda a: a + 10

# Example usage:
add(50)

60

### Case 2: Lambda Function with Multiple Arguments

Lambda functions can take multiple arguments, just like regular functions. You can also use default arguments.

In [ ]:
# Traditional function to calculate average (with a bug for demonstration)
def avg(x, y, z):
    return x + y + z / 3  # Note: This does not calculate the true average!

# Example usage:
avg(10, 20, 30)

40.0

In [ ]:
# Lambda function with multiple arguments and a default value
avg = lambda x, y, z=20: round(x + y + z / 3)  # Default arguments also work

# Example usage:
avg(10, 60)

77

### Case 3: Using if-else in Lambda Functions

Lambda functions can include conditional expressions (if-else) for simple decision-making.

In [ ]:
# Traditional function to check if a number is even or odd
def even_odd(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

# Example usage:
even_odd(21)

'odd'

In [ ]:
# Lambda function for even/odd check
even_odd1 = lambda num: 'even' if num % 2 == 0 else 'odd'

# Example usage:
even_odd1(21)

'odd'

### Case 4: List Operations with Lambda Functions

Lambda functions are powerful when combined with list operations and built-in functions like `map`, `filter`, and `reduce`. Let's see some practical examples.

In [ ]:
# Q1: Capitalize the first letter of each city name in the list
input_cities = ['hyd', 'bengaluru', 'mumbai', 'chennai']
# Expected output: ['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [ ]:
# Step 1: Define the lambda function to title-case a string
capitalize = lambda s: s.title()

# Example usage:
capitalize('hyd')

In [ ]:
# Step 2: Use map to apply the lambda function to each element in the list
# Syntax: map(function, iterable)
capitalized_cities = map(capitalize, input_cities)

# Note: map returns an iterator. To see the results, convert to a list.

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'mumbai', 'chennai'])

**Map**

In [ ]:
# Step 3: Convert the map object to a list to get the output
capitalized_cities_list = list(map(lambda i: i.title(), input_cities))
capitalized_cities_list

In [ ]:
# Q2: Convert all city names to uppercase
input_cities_upper = ['hyd', 'bengaluru', 'mumbai', 'chennai']
uppercase_cities = list(map(lambda i: i.upper(), input_cities_upper))
uppercase_cities

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [ ]:
# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [81]:
Input_Q2=['hyd','bengaluru','mumbai','chennai']
output_Q2=list(map(lambda i: i.upper(),Input_Q2))
output_Q2

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [ ]:
# Q3: Filter city names containing the character '#'
input_cities_hash = ['hyd', 'bengaluru', 'mum#bai', 'chen#nai']
# Use filter to select only those with '#'
cities_with_hash = list(filter(lambda i: '#' in i, input_cities_hash))
cities_with_hash

[False, False, True, True]

**Filter**

In [ ]:
# Using filter to get city names containing '#'
input_cities_hash = ['hyd', 'bengaluru', 'mum#bai', 'chen#nai']
cities_with_hash = list(filter(lambda i: '#' in i, input_cities_hash))
cities_with_hash

['mum#bai', 'chen#nai']

### Reduce and Math Operations with Lambda Functions

The `reduce` function (from the `functools` module) is used for performing cumulative operations, such as summing or multiplying all elements in a list.

- `reduce` is useful for any mathematical operation that combines all elements of a list into a single value.
- Example: Calculating the sum of the first 10 natural numbers.

In [ ]:
# Create a list of the first 10 natural numbers
numbers = [i for i in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Traditional way to sum numbers in a list
summ = 0
for i in numbers:
    summ += i
print(summ)

55

In [ ]:
 # If You Write the Summ=Summ+i then it Raises the Syntax Error
# SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='?
# In List Compherension the '=' Donesnt work instead of '=' We need to use the ':='
# If You Remember this was the concept which we learned earlier in List Comprehension Topic is # Velrus Operators

In [ ]:
# Using the walrus operator (:=) in a list comprehension to sum numbers
summ = 0
[summ := summ + i for i in numbers][-1]

55

In [ ]:
# Import functools to use reduce
import functools

# See available functions in functools
print(dir(functools))

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [ ]:
# Syntax summary for map, filter, and reduce with lambda
# map(lambda args: output, iterable)
# filter(lambda args: condition, iterable)
# functools.reduce(lambda args: output, iterable)

In [ ]:
# Import reduce directly from functools
from functools import reduce  # reduce is available in functools

In [ ]:
# Use reduce with lambda to sum a list
numbers = [i for i in range(1, 11)]
total_sum = reduce(lambda s, i: s + i, numbers)  # No need to initialize s=0
print(total_sum)

55

## Practice: Lambda Functions

Let's practice writing lambda functions for various tasks, from basic to more advanced challenges.

### Example: Double a Number

Normally, if you want a function that doubles a number, you would write a function with `def`. But with lambda, you can do it in one line.

**Challenge:** Write a lambda function that doubles a number and test it with 5.

In [ ]:
# Lambda function to double a number
double = lambda num: num * 2  # Syntax: func_name = lambda args: output
double(5)

10

### Challenge: Add 10 to a Number

Write a lambda function that adds 10 to any number you pass in. Test it with 7.

In [ ]:
# Lambda function to add 10 to a number
add_ten = lambda num: num + 10
add_ten(7)

17

### Challenge: Product of Three Numbers

Write a lambda that takes three numbers and returns their product. Test it with 2, 3, 4.

In [ ]:
# Lambda function to multiply three numbers
product_of_num = lambda x, y, z: x * y * z
product_of_num(2, 3, 4)

24

### Challenge: Reverse a String

Create a lambda that takes a string and returns it reversed.

Example:
- Input: "hello"
- Output: "olleh"

In [ ]:
# Lambda function to reverse a string
reverse = lambda string: string[::-1]
reverse('hello')

'olleh'

## Basic Lambda Function Questions

Let's solve some basic problems using lambda functions before moving to more complex challenges.

In [ ]:
# Lambda function to add 5 to a given number
add_five = lambda num: num + 5
add_five(7)

12

In [ ]:
# Lambda function to check if a number is even or odd
is_even = lambda num: 'even' if num % 2 == 0 else 'odd'
is_even(2)

'even'

In [ ]:
# Lambda function to find the square of a number
square = lambda num: num * num
square(5)

25

In [ ]:
# Lambda function to return the last character of a string
last_char = lambda s: s[-1]
last_char('Python')

'n'

In [ ]:
# Lambda function to return which number is greater
maximum = lambda num1, num2: f'{num1} is greater than {num2}' if num1 > num2 else f'{num2} is greater than {num1}'
maximum(2, 5)

'5 is Greater than 2'

## Intermediate Lambda Function Questions

Now, let's move on to some intermediate-level problems using lambda functions.

In [ ]:
# Use map() with lambda to return the squares of numbers in a list
num_list = [1, 2, 3, 4, 5]
squares = list(map(lambda i: i ** 2, num_list))
squares

In [64]:
num_list=[1,2,3,4,5]

squares=list(map(lambda i: i**2,num_list)) # We Have use the list to extract the data from the memory location where the output is stored
squares

[1, 4, 9, 16, 25]

In [ ]:
# Use filter() with lambda to return only odd numbers from a list
odd_numbers = list(filter(lambda i: i % 2 != 0, num_list))
odd_numbers

[1, 3, 5]

In [ ]:
# Use reduce() with lambda to calculate the sum of all numbers in a list
from functools import reduce
sum_of_list = reduce(lambda total, item: total + item, num_list)
sum_of_list

15

In [ ]:
# Lambda function to sort a list of tuples by the second element
nums_list = [(1, 2), (3, 1), (5, 7)]
sort_by_second = lambda lst: sorted(lst, key=lambda i: i[1])
sort_by_second(nums_list)

[(3, 1), (1, 2), (5, 7)]

In [ ]:
# Lambda function to capitalize each character in a string (not each word)
word = 'Hello Python'
caps = list(map(lambda i: i.upper(), word))
caps

['H', 'E', 'L', 'L', 'O', ' ', 'P', 'Y', 'T', 'H', 'O', 'N']