In [ ]:
# Day 12: Python Lists - Learning & Exploration

# --- List Initialization ---
# Lists can store multiple values. They are ordered, mutable, and can hold any data type.

# Example 1: Numeric list
l1 = [10, 20, 30, 40]  # List of integers

# Example 2: String list
l2 = ['A', 'B', 'C']   # List of strings

# Example 3: Mixed data types
l3 = [10, 20, 30, 40, 'A', 'B', 'C']  # Integers and strings together

# Example 4: Heterogeneous list (all types)
l4 = [10, 'A', 2.5, True, 10+20j]  # int, str, float, bool, complex

# Example 5: Nested list (list inside a list)
l5 = [[10, 10, 10]]  # A list containing another list

# Example 6: List with duplicate values
l6 = [10, 10, 10]  # Duplicates are allowed

# Example 7: Empty list
l7 = []  # No elements

# Key Points:
# - Lists can hold any data type (heterogeneous)
# - Duplicates are allowed
# - Lists can contain other lists (nested lists)

# --- Error Example: Mixing incompatible types in operations ---
try:
    print(sum(l3))  # This will fail because l3 has both numbers and strings
except TypeError as e:
    print('Error:', e)

# --- Fix: Use only numeric values for sum ---
l3_numeric = [10, 20, 30, 40]
print('Sum of l3_numeric:', sum(l3_numeric))

# --- Example: Creating a list from user input (comma separated) ---
# input_str = input('Enter numbers separated by commas: ')
# user_list = [int(x) for x in input_str.split(',')]
# print('User list:', user_list)

# --- Example: List comprehension for squares ---
squares = [x**2 for x in range(1, 6)]
print('Squares:', squares)

In [9]:
l1=[10,20,30,40]
l2=['A','B','C']
l3=[10,20,30,40,'A','B','C']

In [13]:
print(len(l1),len(l2),len(l3))

4 3 7

In [25]:
print(sum(l1)) # Works
print(sum(l2)) # fails
print(sum(l3)) # fails

100

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(max(l1))
print(max(l2))
print(max(l3)) # Fails

40
C

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
print(min(l1))
print(min(l2))
print(min(l3)) # Fails

10
A

TypeError: '<' not supported between instances of 'str' and 'int'

In [33]:
print(sorted(l1))
print(sorted(l2))
print(sorted(l3)) # Fails

[10, 20, 30, 40]
['A', 'B', 'C']

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
print(list(reversed(l1))) # Works
print(list(reversed(l2))) # works
print(list(reversed(l3))) # Works

[40, 30, 20, 10]
['C', 'B', 'A']
['C', 'B', 'A', 40, 30, 20, 10]

**Indexing**

In [42]:
l3=[10,20,30,40,50]

# -5  -4  -3  -2  -1
# 10  20  30  40  50
# 0   1   2   3   4

l3[2]

30

In [46]:
l=['Apple','Banana']
l[1]

'Banana'

In [50]:
l=['Apple',['Banana']]

l[1][0]

'Banana'

In [58]:
l1=['Apple',['Banana','Cherry']]

l1[1][1]

'Cherry'

In [62]:
l=['Apple',['Banana',['Cherry']]]

l[1][1][0]

'Cherry'

In [66]:
l=['Orange',['Nagpur',['MH',['Shivaji',['Shambaji',['Chava',['VK']]]]]]]

l[1][1][1][1][1][1][0]

'VK'

In [70]:
l=[[[[[[[[['onion']]]]]]]]]

l[0][0][0][0][0][0][0][0][0]

'onion'

**Mutable Vs Immutable**

In [3]:
fruits=['apple','banana','orange']
fruits[0]='cherry'
fruits[0]                   # The values are chnages means list are mutable
                            # We can change name based on index

'cherry'

**Concatenation**

In [11]:
fruits_new=['grapes','pineapple']

l=fruits+fruits_new          # Concatenate two list
l

['cherry', 'banana', 'orange', 'grapes', 'pineapple']

In [15]:
l1=[10,20,30,40]
l2=['A','B','C']

l1+l2

[10, 20, 30, 40, 'A', 'B', 'C']

In [ ]:
l1-l2    # Operand not Support
l/l2     # Operand not Support

**Slice**

In [18]:
l=[10,20,30,40,1,2,3,4,'a','p','p','l','e',True,False]
len(l)

15

In [ ]:

-15  -14   -13   -12   -11   -10   -9   -8    -7     -6      -5      -4      -3    -2        -1
10,   20,   30,   40,   1,    2,    3,   4,   'a',    'p'    ,'p'    ,'l'   ,'e',   True,   False
 0    1     2     3     4     5     6    7     8      9       10      11     12     13       14

In [26]:
l[2:12:2],l[2:12:-2],l[-2:-12:-2],l[2:-12:-2]

([30, 1, 3, 'a', 'p'], [], [True, 'l', 'p', 4, 2], [])

In [28]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [40]:
l1=[10,20,30,40]

**Clear()**

In [34]:
l1.clear()  # Remove all items from list.
l1

[]

**Copy()**

In [48]:
l2=['A','B','C']
l1=l2.copy()  # Return a shallow copy of the list.
l1

['A', 'B', 'C']

In [50]:
l3=[10,20,30,40]
l4=l3.copy()
l3.clear()
l4,l3

([10, 20, 30, 40], [])

**Count()**

In [56]:
l5=[10,10,10,30,20,20]

In [58]:
l5.count(10)

3

**Slice**

In [64]:
l6=[10,20,30,40,50,'A','B','C']

In [68]:
l6[0:5]

[10, 20, 30, 40, 50]

In [70]:
l6[0:5:2]

[10, 30, 50]

In [72]:
l6[::-1]

['C', 'B', 'A', 50, 40, 30, 20, 10]

**Indexing**

In [108]:
l=[10,20,30,40,1,2,3,4,'a','p','p','l','e',True,False]

In [83]:
l7=l.index(1)
l.index(1,l7+1)

13

In [110]:
l.index(1)

4

**Pop - Remove**

In [113]:
lst1=[10,20,30,40]

In [117]:
lst1.pop(0) # Remove and return item at index (default last).

            # Raises IndexError if list is empty or index is out of range.

10

In [119]:
lst1

[20, 30, 40]

In [139]:
lst2=[10,20,30]   # Remove first occurrence of value.                 
lst2.remove(10)  # Raises ValueError if the value is not present.
lst2

[20, 30]

In [143]:
lst2.remove(20)
lst2

ValueError: list.remove(x): x not in list

In [145]:
l=['apple','banana','cherry','cherry','a','b',10,20,30]

l.pop(3)

'cherry'

In [183]:
l2=['apple','banana','cherry','cherry','a','b',10,20,30]

In [185]:
index_cherry=l2.index('cherry')
index_cherry2=l2.index('cherry',index_cherry+1)
index_cherry,index_cherry2
l2.pop(index_cherry2)
l2

['apple', 'banana', 'cherry', 'a', 'b', 10, 20, 30]

In [189]:
list_1=['apple','banana','cherry','cherry','a','b',10,20,30]
list_1.remove('cherry')
list_1

['apple', 'banana', 'cherry', 'a', 'b', 10, 20, 30]

In [191]:
s='apple'

In [193]:
s.count('z')

0

In [195]:
s.replace('z','Z')

'apple'

In [197]:
s.index('z')

ValueError: substring not found

In [199]:
s.find('z')

-1

**Append - extend - contatenate**

In [204]:
list_lst=['apple','banana','cherry','cherry']
list_lst.append('Orange')   # Append object to the end of the list.
list_lst

['apple', 'banana', 'cherry', 'cherry', 'Orange']

In [208]:
list_num=[10,20,30]
list_num.append(40)
list_num

[10, 20, 30, 40]

In [212]:
list_num.append([50,60])
list_num

[10, 20, 30, 40, [50, 60], [50, 60]]

In [222]:
list_lst1=[10,20,30]
l2=['A','B','C']
print(list_lst1)
print(l2)
list_lst1.extend(l2) #  Extend list by appending elements from the iterable.
list_lst1

[10, 20, 30]
['A', 'B', 'C']

[10, 20, 30, 'A', 'B', 'C']

**Append**

- in many projects with append there is no code

- append is used to store the results

- so far we just print the results

- we far we just print the results

- we never stored it

In [3]:
l=[]
l.append(1)
l.append(2)
l.append(3)
l

[1, 2, 3]

In [13]:
l1=[]
for i in range(1,4):
    print(i)
    l1.append(i)
print(l1)

1
2
3
[1, 2, 3]

In [32]:
# wap ask the user take 5 random numbers
# print even and odd
# save even and odd

even_num=[]
odd_num=[]

for i in range(5):
    number=eval(input("Enter the Five Random Numbers"))
    if number%2==0:
        even_num.append(number)
    else:
        odd_num.append(number)
print(f"The Even Numbers is : {even_num}")
print(f"The odd Numbers is : {odd_num}")

Enter the Five Random Numbers 50
Enter the Five Random Numbers 12
Enter the Five Random Numbers 12
Enter the Five Random Numbers 60
Enter the Five Random Numbers 80

The Even Numbers is : [50, 12, 12, 60, 80]
The odd Numbers is : []

In [24]:
import random

even=[]
odd=[]

for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} even")
        even.append(num)
    else:
        print(f"{num} odd")
        odd.append(num)
print(even,odd)

53 odd
30 even
12 even
43 odd
4 even
[30, 12, 4] [53, 43]

**Del()**

In [100]:
l=[20,30,40,50,60]
del(l[2])
l

[20, 30, 50, 60]

In [103]:
del(l)

In [105]:
l

NameError: name 'l' is not defined

**Sorted- Sort**

- Sorted is a inbuilt function

- sort is a method

In [108]:
l=[90,20,30,60,10,50,40]

In [111]:
sorted(l)  # Return a new list containing all items from the iterable in ascending order. but doesnt save the values in the same variable

[10, 20, 30, 40, 50, 60, 90]

In [119]:
print(l)

[10, 20, 30, 40, 50, 60, 90]

**Note**

$inplace$

- ouputs will saved in same variable only

In [115]:
l.sort()    # Sort the list in ascending order and return None. Stores the Values in the same variable

None

In [121]:
l          # Stores values in the Same Variable

[10, 20, 30, 40, 50, 60, 90]

**Reverse - Reversed**

In [132]:
l1=[90,80,70,60,50,40]

In [134]:
l1.reverse()# Reverse *IN PLACE*
l1

[40, 50, 60, 70, 80, 90]

In [3]:
str1="hai how are you"
str1.split(" ")

# How i Splited? -> Using Space

['hai', 'how', 'are', 'you']

In [7]:
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [17]:
space=' '
space.join(l1)

'hai how are you'

In [19]:
''.join(l1)

'haihowareyou'

In [21]:
l1

['hai', 'how', 'are', 'you']

In [23]:
'===>'.join(l1)

'hai===>how===>are===>you'

In [ ]:
split('hai how are you')  # inbuit function
'hai how are you'.split() # method

In [27]:
# we will take one string
# split the string 
# calculate len of each string 
# if len>3 then we will take those words in a new list
# then we will join those words then join those word

text='''The sun peeks out through skies so blue,
A morning kiss with drops of dew.
The trees all dance in gentle breeze,
Whispers soft through fields and leaves.
A quiet world, so fresh, so new.'''
text

'The sun peeks out through skies so blue,\nA morning kiss with drops of dew.\nThe trees all dance in gentle breeze,\nWhispers soft through fields and leaves.\nA quiet world, so fresh, so new.'

In [31]:
text_split=text.split()
text_split

['The',
 'sun',
 'peeks',
 'out',
 'through',
 'skies',
 'so',
 'blue,',
 'A',
 'morning',
 'kiss',
 'with',
 'drops',
 'of',
 'dew.',
 'The',
 'trees',
 'all',
 'dance',
 'in',
 'gentle',
 'breeze,',
 'Whispers',
 'soft',
 'through',
 'fields',
 'and',
 'leaves.',
 'A',
 'quiet',
 'world,',
 'so',
 'fresh,',
 'so',
 'new.']

In [39]:
new_string=[]


for i in text_split:
    if len(i)>3:
        new_string.append(i)
print(new_string)
' '.join(new_string)

['peeks', 'through', 'skies', 'blue,', 'morning', 'kiss', 'with', 'drops', 'dew.', 'trees', 'dance', 'gentle', 'breeze,', 'Whispers', 'soft', 'through', 'fields', 'leaves.', 'quiet', 'world,', 'fresh,', 'new.']

'peeks through skies blue, morning kiss with drops dew. trees dance gentle breeze, Whispers soft through fields leaves. quiet world, fresh, new.'

1Ô∏è‚É£ List Initialization
üîπ What is a list?
A list is an ordered collection of items (numbers, strings, or mixed types).

Lists are mutable, meaning they can be changed.

üîπ How to initialize a list?

    numbers = [10, 20, 30, 40, 50]
    fruits = ["apple", "banana", "cherry"]
    mixed = [1, "hello", 3.5, True]
    empty_list = []

‚úÖ Try This:

Create a list of your 5 favorite movies.

Print the list and type using type()

In [15]:
# Create a list of your 5 favorite movies.

movies=['Jersey','Billa','Kaleja','Mirchi','Rebel']

In [17]:
#Print the list and type using type()

print(movies)
type(movies)

['Jersey', 'Billa', 'Kaleja', 'Mirchi', 'Rebel']

list

2Ô∏è‚É£ Basic Functions on Lists

üîπ Useful Functions:
len() ‚Üí number of elements

sum() ‚Üí sum of numeric list

min() / max() ‚Üí smallest & largest element

sorted() ‚Üí returns a new sorted list

reversed() ‚Üí returns a reverse iterator


    numbers = [10, 50, 30, 20]
    print(len(numbers))        # 4
    print(sum(numbers))        # 110
    print(min(numbers))        # 10
    print(max(numbers))        # 50
    print(sorted(numbers))     # [10, 20, 30, 50]
    print(list(reversed(numbers)))  # [20, 30, 50, 10]
    
‚úÖ Try This:

Create a list of 6 random numbers.

Print its sum, min, max, sorted order, and reversed order.

In [20]:
# Create a list of 6 random numbers.

random_list=[10,30,50,90,100,150]

# Print its sum, min, max, sorted order, and reversed order.

print(sum(random_list))
print(min(random_list))
print(max(random_list))
print(sorted(random_list))
print(list(reversed(random_list)))

430
10
150
[10, 30, 50, 90, 100, 150]
[150, 100, 90, 50, 30, 10]

3Ô∏è‚É£ Indexing & Accessing Elements
Lists support indexing (0-based).

Negative index -1 gives the last element.

    numbers = [10, 20, 30, 40, 50]
    print(numbers[0])   # 10
    print(numbers[-1])  # 50
    
‚úÖ Try This:

Access the second and second-last elements of your movie list.

In [23]:
# Access the second and second-last elements of your movie list.

print(movies[1],movies[-2])

Billa Mirchi

In [27]:
movies[1::2]    # index at the second element and the end to default and step=2 then it move two steps forward towards second last element

['Billa', 'Mirchi']

4Ô∏è‚É£ Mutable vs Immutable

Lists are mutable: You can change elements.

Strings/Tuples are immutable: Cannot change elements directly.

    numbers = [10, 20, 30]
    numbers[1] = 200
    print(numbers)  # [10, 200, 30]
    
‚úÖ Try This:

Change the 3rd movie in your movie list.

Try to change a character in a string and see the error.

In [31]:
# Change the 3rd movie in your movie list.

movies[2]="Bahubali"    # 3rd movie refers to the 2nd index where the list index start at the default at '0'
print(movies)           # List are mutable it can change value directly by using the index

['Jersey', 'Billa', 'Bahubali', 'Mirchi', 'Rebel']

In [49]:
string='A','B','C'

In [55]:
# Try to change a character in a string and see the error.

string='B' # TypeError: 'tuple' object does not support item assignment String are immutable

TypeError: 'tuple' object does not support item assignment

5Ô∏è‚É£ Concatenation & Repetition

    a = [1, 2]
    b = [3, 4]
    print(a + b)      # [1, 2, 3, 4]
    print(a * 3)      # [1, 2, 1, 2, 1, 2]

‚úÖ Try This:

Combine two lists of fruits and print 3 times using *

In [62]:
# Combine two lists of fruits and print 3 times using *

lst_1=['apple','banana','orange']
lst_2=['Grapes','Pineapple','Dragon Fruit']

lst_3=lst_1+lst_2
print(lst_3)
print(lst_3*3)

['apple', 'banana', 'orange', 'Grapes', 'Pineapple', 'Dragon Fruit']
['apple', 'banana', 'orange', 'Grapes', 'Pineapple', 'Dragon Fruit', 'apple', 'banana', 'orange', 'Grapes', 'Pineapple', 'Dragon Fruit', 'apple', 'banana', 'orange', 'Grapes', 'Pineapple', 'Dragon Fruit']

In [43]:
# Create a list called fruits with 4 items of your choice (any fruit names).
# Then print the whole list and the first item.

fruits=['apple','banana','cherry','mango']

print(fruits)
print(fruits[0])

['apple', 'banana', 'cherry', 'mango']
apple

In [45]:
# üëâ Access the last item in your list, and also the second last item using negative indexing.

# Negative Indexing

fruits[-1],fruits[-2]

('mango', 'cherry')

In [47]:
''' Instead of picking just one item, you can grab a range of items.

üëâ Try taking the first two items from your fruits list.
üëâ Then try taking everything from the second item to the end.'''

fruits[:2],fruits[2:]   # Here the index start at default 0 and then next end at default but start at 2

(['apple', 'banana'], ['cherry', 'mango'])

In [49]:
'''Lists are mutable, meaning you can change items.

üëâ Try changing the second item ('banana') into another fruit of your choice.
üëâ Then print the list again to see the update.'''

fruits[1]='Grape'     # Changing the name of Banana to the Grape Because that List Are Mutable
print(fruits)

['apple', 'Grape', 'cherry', 'mango']

In [51]:
'''Next Exploration: Adding new items

üëâ Try two things:

Add a new fruit at the end of the list.

Insert a new fruit at the second position in the list.'''

fruits.append('Banana')
fruits.insert(1,'PineApple')
print(fruits)

['apple', 'PineApple', 'Grape', 'cherry', 'mango', 'Banana']

In [53]:
'''Next Exploration: Removing items

üëâ Try removing:

A fruit by its value (e.g., remove "apple").

A fruit by its index (e.g., remove the item at position 2).'''

fruits.remove('Banana')    # Possible to remove the Values by the String value
fruits.remove(fruits[0])   # Possible to remove the values by using the index aslo

print(fruits)

['PineApple', 'Grape', 'cherry', 'mango']

In [55]:
fruits.pop()     # Remove the last element if the args are default

'mango'

In [59]:
fruits.pop(0)   # Remove the Value using the index here we cant mention the list string or Value only Index is possible

'PineApple'

In [61]:
print(fruits)

['Grape', 'cherry']

In [84]:
'''‚ö° Next Challenge:
Can you think of a way to combine two lists of fruits into one?
(Hint: there‚Äôs a method that joins them, and another way using the + operator.)'''

# We Can Join the two list using an Operator or Method we Are going do both

list_one=[1,2,3,4,5]
list_two=[6,7,8,9,10]

# print(list_one+list_two)  # Using the '+' Operator
# list_one.extend(list_two)
# list_one
list_one.append(list_two)
print(list_one)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [129]:
new_list=[]
l=len(list_one)

for i in range(l):
    if isinstance(list_one[i], list):
        for item in list_one[i]:
            new_list.append(item)
    else:
        new_list.append(list_one[i])
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1
2
3
4
5
[6, 7, 8, 9, 10]

In [137]:
new_list1=[]
l=len(list_one)

for i in list_one:
    if isinstance(i, list):
        for item in i:
            new_list1.append(item)
    else:
        new_list1.append(i)
print(new_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Built-in Methods**

**1) Length of the list**

Use the built-in function that tells you how many items are in a container.

Apply it to your new_list1 and print the result.

You should see 10 with your current list.

mini-challenge: add one more number to new_list1, check the length again, then remove one item and check once more.'''

In [140]:
list_num=[1,2,3,4,5]

print(len(list_num))    # Printing the Length of the list using the 'len()' method
print(len(new_list1))

5
10

In [146]:
# Adding more elements to the list

list_num.append([6,7,8,9,10,111,12,13,14,15]) # Added the new list to the previous list using the append
print(list_num)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10, 111, 12, 13, 14, 15], [6, 7, 8, 9, 10, 111, 12, 13, 14, 15]]

In [152]:
new_list1.extend([11,12,13,14,15])
print(new_list1)      # Added the elements using the extend Method

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

**2) Accessing elements with indexing**

pick the 3rd element from your new_list1 (remember: Python starts counting from 0).

also try the last element using negative indexing.

üëâ mini-challenge: print both values together in one line.

In [165]:
list_items=['A','B','C','D',1,2,3,4]

print(list_items[2])  # Picking the 3rd element from the list
print(list_items[-1]) # last element using the Negative indexing

C
4

In [167]:
# printing both values together in one line.

list_items[2],list_items[-1]

('C', 4)

**3) Slicing a list**

try getting only the first 3 elements from your new_list1.

then, get everything from the 3rd element onward.

finally, grab the middle part (exclude the first and last elements).

üëâ hint: slicing works like this ‚Üí list[start:end]
(start is inclusive, end is exclusive).

In [183]:
# Slicing means getting a Substring from a list or a specific part from the list

print(list_items[:3])    # Trying to get first 3 elements from your list_items.
print(list_items[3:])    # Rest of the elements from 3rd index

['A', 'B', 'C']
['D', 1, 2, 3, 4]

In [191]:
print(list_items[3:5])    # Middle part of the list

['D', 1]

**4) Sorting and Reversing a list**

Take a new list and try these:

Sort it in ascending order.

Sort it in descending order.

Reverse it (without sorting).

üëâ hint:

use .sort() for in-place sorting.

use sorted(list, reverse=True) for a new sorted list.

use .reverse() to flip the list.

In [207]:
list_num=[5,4,3,2,1]

list_num.sort()
print(list_num)

[1, 2, 3, 4, 5]

In [216]:
list_num1=[1,2,3,4,5,6,7,8,9]

list_num1.sort(reverse=True)
print(list_num1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [218]:
list_num1.reverse()
print(list_num1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**5) List Slicing Tricks**

You already know simple slices like fruits[:2].
Now try these on your new_list1 (or any list you like):

Get every 2nd element.

Get the list in reverse order using slicing.

Get a middle chunk (say from index 2 to 5).

üëâ hint: slicing has the form [start:end:step].
Play with the step (positive and negative) and see what happens.

want to try one?

[1, 2, 3, 4, 5, 6, 7, 8, 9]`

In [221]:
list_num1[1] # for the 2d element

2

In [224]:
# List in reverse order using the slicing

list_num1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [226]:
list_num1[2:5]

[3, 4, 5]

In [228]:
list_num1[1:6:2]   # Slicing Depend on this [start:end:step] index start at start and end and step to move forward(+) or Backward(-)

[2, 4, 6]

**6) Sorting & Reversing Lists**

With lists, you can rearrange items easily:

Reverse the order of a list.

Sort numbers in ascending order.

Sort numbers in descending order.

Try sorting a list of strings (like fruits).

üëâ hint: use the built-in methods instead of writing your own loop.

In [241]:
# Reverse the order of a list.

list_num1.sort(reverse=True)
print(list_num1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [243]:
# Sort numbers in ascending order.

list_num1.sort()
list_num1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
# Sort numbers in descending order.

list_num1.sort(reverse=True)
list_num1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [251]:
# Try sorting a list of strings (like fruits).

fruits=['apple','banana','cherry','mango']

fruits.sort()
fruits

['apple', 'banana', 'cherry', 'mango']

In [253]:
fruits.sort(reverse=True)
fruits

['mango', 'cherry', 'banana', 'apple']

**7) Nested Lists (Lists inside Lists)**

A list can contain another list as an element. This is called a nested list.

Access a whole inner list.

Access a single element from inside the inner list (like row/column).

üí° Think of it like a table (rows and columns).

In [277]:
num_list=[[1,2,3],[4,5,6],[7,8,9]]  # Here we have only 3 indexes which are 0 1 2

num_list[0],num_list[1],num_list[2]

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [281]:
# We Want to Access the single Element from the list

# Let us think that we want to acces the 1 index and value '5'

num_list[1][1]    # We refers to the 1 index and then inside that another 1st index

5

**8) Common List Methods to Explore Next**

append() ‚Üí add one item at the end

insert() ‚Üí add an item at a specific index

extend() ‚Üí add multiple items from another list

remove() ‚Üí remove an item by value

pop() ‚Üí remove an item by index (or last item)

count() ‚Üí count how many times a value appears

index() ‚Üí find the position of a value

clear() ‚Üí remove all items

üí° mini-challenge: pick one method you haven‚Äôt used yet, try it on your list, and see what happens.

Which one do you want to try first?

**Whats the difference between the remove() and pop()**

remove() -> Removes an item by its value. Nothing (returns None)

pop() -> Removes an item by its index (default last item). Returns the removed item

**9) Counting & Finding Items**

Two useful operations:

count() ‚Üí tells you how many times a value appears in the list.

index() ‚Üí tells you the position of the first occurrence of a value.

üí° Mini-challenge:

Take your current list.

Pick a value that appears more than once (or add a duplicate).

Use count() to see how many times it appears.

Use index() to see where it first appears.

Try it and see what you get.

In [327]:
number_list=[1,2,3,3,4,4,4,5,5,5,6,6,6,7]

unique_list=[]

for i in number_list:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

for num in unique_list:
    print(num, "appears", number_list.count(num), "times")

[1, 2, 3, 4, 5, 6, 7]
1 appears 1 times
2 appears 1 times
3 appears 2 times
4 appears 3 times
5 appears 3 times
6 appears 3 times
7 appears 1 times