# ðŸ“˜ Day 3: What I Learned Today

Today, I learned the following Python basics:
- How to use the `print()` function for output in Python.
- Using escape sequences in strings.
- Different ways to format output: with commas, `.format()`, and f-strings.
- Type casting: converting between `int`, `float`, `str`, and `bool`.
- How the `eval()` function works for evaluating string expressions.
- Best practices for writing print statements.
- Practice problems on arithmetic operations, rounding numbers, and formatting results.
- Real-life examples: calculating area, bills, salary after tax, currency conversion, and weight conversion.
- The use of the `round()` function for rounding numbers.

This notebook covers foundational Python concepts with practical code examples and explanations, making it a strong resource for beginners.

In [1]:
number1= 10     # int
number2=10.5    # float
name='Nareshit' # string : str
value=True      # Boolean : bool
####################################
fruites=['Apple','Banana','cherry']  # list
names=('ramesh','Suresh','Sathish')  # tuple
age={20,22,24}                       # set
data={'Ramesh':20,'Suresh':22,'Sathish':24}  # dictionary : dist

**Type Casting**

  Converting one data type to another data Type

    int - float
    int - string
    float - int

In [ ]:
# Example for the type casting that when we add to numbers with the string declaration then 
# String concatination will happen if we wanted to add those numbers then we need the type conversion which means type casting

n1='100' # 100
n2='200' # 200
n1+n2

In [ ]:
**Case-1**

- int to float 
- int to str
- int to bool

In [ ]:
Number=10
#int to float
float(Number)

In [ ]:
Number1=20
#int to string
str(Number1)

In [ ]:
Number2=30
#int to bool
bool(Number2)

In [ ]:
# Checking how they print
float(-10),str(-10),bool(-10)

In [ ]:
float(0),str(0),bool(0)

**Float to Other Data Types**

In [ ]:
num=-10.5
# To int   str     bool
int(num),str(num),bool(num)

In [ ]:
num1=0.0
# To int  to str    to bool
int(num1),str(num1),bool(num)

**String to other Data Types**

In [ ]:
print(int('10'))
print(float('10'))
print(bool('10'))

In [ ]:
# print(int('10.5'))    # ValueError: invalid literal for int() with base 10: '10.5'
print(float('10.5'))
print(bool('10.5'))

In [ ]:
# Some of the examples
n1=10
print(n1)
n2=20
print(n2)
n4=1000
n3=lenovo  # NameError: name 'lenovo' is not defined
n4=100
n5=600

In [ ]:
int('10.5') # Error we can't assign the float type in string quates to the int ValueError: invalid literal for int() with base 10: '10.5'

In [ ]:
float('10.5'),int('10')

In [ ]:
# Some examples

int(10)      # 10 
int(10.5)    # 10
int('10')    # 10
int('10.5')  #ValueError: invalid literal for int() with base 10: '10.5'
float(10)    # 10.0
float(10.5)  # 10.5
float('10')  # 10
float('10.5')# 10.5

In [ ]:
int('0'),float('0'),bool('0')

In [ ]:
len('0'),float('0'),bool('0')

In [ ]:
len('0'),len(''),len('apple')

In [ ]:
int('0.0')
int('10.5')

In [ ]:
float('Apple')    # ValueError: could not convert string to float: 'Apple'

int('apple')      # error
bool('apple')     # True

**Boolean to other data types**

In [ ]:
int(True),float(True),str(True)

In [ ]:
int(False),float(False),str(False)

In [ ]:
# Some Examples

float(100)
str(10)
bool(10)
int(10.5)
bool(10.5)
str(10.5)
int('10')
float('10')
bool('10')
int('10.5')
float('10.5')
bool('10.5')
int('Apple')
float('Apple')
bool('Apple')
int(True)
float(False)
bool('')

In [ ]:
float('10.5') # Convert a string or number to a floating-point number, if possible.

In [ ]:
int(float('10.5')) # Convert a string or number to a floating-point number, if possible. then again convert into the int

In [ ]:
n1=int('100')    # 100 is assigned as the string then converted using int()
n2=int('200')    # 200 is assigned as the string then converted using int()
n1+n2            # Adding to number n1+n2

In [ ]:
n1='100'
n2='200'
print(int(n1+n2)) # Error we adding without converting or taking as string and adding and also we are not assigning as int here concatation will happen

In [ ]:
print(int(n1)+int(n2))  #  We can use direct values or Variables effecient approach and reduce the number of lines

In [ ]:
num1=int(float('100.5')) # Convering string to float and then int
num2=int('200')          # Taking as string and convert to int
print(num1+num2)         # Adding two numbers num1 and num2

In [ ]:
number1=float('100.5')  # Assigned string then coverted into float
number2=float('200')    # Assigned string then coverted into float
number1+number2         # Adding the float numbers number1+number2

**Eval**

The eval() function in Python takes a string as input and treats that string as if it were a piece of Python code (specifically, an expression) and then executes it, returning the result.

In simpler terms:
Imagine you have a string like "2 + 3 * 5". If you pass this string to eval(), it will calculate the result of that mathematical expression (which is 17) and give you that number back.
 - The eval() function automatically detects and handles whether the value is an integer or a float â€” you donâ€™t need to explicitly use int() or float() in most cases.

In [ ]:
n1=eval('100.5') #
n2=eval('200')
print(n1)
print(n2)
print(n1+n2)

In [ ]:
100 + '200' # TypeError: unsupported operand type(s) for +: 'int' and 'str' we are trying to add int and string which is not possible without conversion

**Print Statements**

 The print() function is used to display output to the console.

In [ ]:
a=10
b=20
print(a)      # we can print using print() or simpy mention or put variable name(but it works for only for that one statement or one print value
print(b)
print(a,b)
a,b

In [ ]:
a=10
b=20
c=a+b
string="Anand"
print("Sum of 10 and 20 is = 30")  # we are mentioning the values in the statement
print("Sum of a and b is = c")     # we are variable names but it don't print Values prints only the a b c
print("Sum of", a,"and", b,"is", "=", c) # to print the variable values we need to mention comma the variable name should be in the middle of commas hint: the variable name should be in back when we mention
print("Name of the Person is " + string) # We can aslo use the + symbol in print statement to print the variable name

In [ ]:
# Example

Name = 'Anand'
age= 22
City= 'Hyderabad'
print("My Name is",Name,"my age is",age,"and Im from",City)

**Method 2 :**
*Format Method*
*Using {}*

In [ ]:
print("My Name is {Name} my age is {age} and im from {City}") # We wrote the varibale names between the '{<variable>}' but doesnt work

In [ ]:
print("My Name is {} my age is {} and im from {}".format(Name,age,City)) # We need to mention the .format(<variable>) it works

**Method 3** : *fstring*

*Using f-strings (Formatted strings) âœ… Modern & Clean*

In [ ]:
print(f"My Name is {Name} my age is {age} and im from {City}") # Similar to the above but we mention f (fstring) at the beggining of the statement instead if the .format(<variable>)

- wap ask the use take two numbers
- print addition substraction multi and division`

In [ ]:
# Practice Problem
# wap ask the use take two numbers
# print addition substraction multi and division
# Using Method 2: .format()

num1=100
num2=250

print("Sum of the {} and {} is {}".format(num1,num2,num1+num2))
print(f"Sum of the{num1} and {num2} is {num1+num2}\n")

print("Substraction of the {} and {} is {}".format(num1,num2,num1-num2))
print(f"Substraction of the{num1} and {num2} is {num1-num2}\n")

print("Multiplication of the {} and {} is {}".format(num1,num2,num1-num2))
print(f"Multiplication of the{num1} and {num2} is {num1*num2}\n")

print("Division of the {} and {} is {}".format(num1,num2,num1-num2))
print(f"Division of the{num1} and {num2} is {num1/num2}\n")

In [ ]:
a=50
b=20
c=100

print(f" Average of {a},{b},{c} is {a+b+c/3}")

avg=a+b+c/3
print(round(avg,1))

In [ ]:
*Round of Method*

ðŸ”¹ Definition:
The round() function is used to round a number to the nearest integer or to a specified number of decimal places.

ðŸ”¹ Syntax:

round(number, digits)
number: The floating-point number you want to round.

digits (optional): Number of decimal places to round to. If not given, it rounds to the nearest whole number.

ðŸ”¹ Examples:

*Example 1: Round to nearest integer*
print(round(4.6))     # Output: 5
print(round(4.3))     # Output: 4

*Example 2: Round to 2 decimal places*
print(round(3.14159, 2))   # Output: 3.14

*Example 3: Round negative numbers*
print(round(-2.7))    # Output: -3

ðŸ”¸ Real-Life Example:

price = 49.995
final_price = round(price, 2)   # Round to 2 decimal places
print("Final price:", final_price)

ðŸ“Œ Output:

Final price: 50.0

ðŸ”Ž Important Note:
Python uses round half to even method (also known as bankerâ€™s rounding), so:

print(round(2.5))  # Output: 2 (NOT 3)
print(round(3.5))  # Output: 4
It avoids bias in rounding large sets of data.

In [ ]:
round(34.67)

In [ ]:
round(34.48)

In [ ]:
print(round(34.47777,1)) # 34.5
print(round(34.47777,2)) # 34.48
print(round(34.47777,3)) # 34.478

In [ ]:
# Some Practice Questions

# Q1

pi=3.14
r=30

area_of_cirle=pi*r*r

print(f"with radius {r} area of circle is {area_of_cirle}\n")

print(f"with radius {r} area o circle is ",round(area_of_cirle,1))

In [ ]:
#Q3

bill_amount=1000
tip_amount=30

total_bill=bill_amount+tip_amount

print(f"Bill Amount is {bill_amount} and tip {tip_amount} and the Total amount is {total_bill}")

In [ ]:
#Q4

sal=25000
tax=25

final_sal=sal*tax/100

print(f"Your Salary is {sal} and the Tax Percentage is {tax} and Final Salary is the {final_sal}")

In [ ]:
#Q5

dollor=10

dollor_to_rupee=dollor*85

print(f"The Dollor of {dollor} converted into rupee is {dollor_to_rupee}")

In [ ]:
#Q6

weights=50

kgs_into_pounds=weights*2.2

print(f"The weights {weights} into pounds of {kgs_into_pounds}")

print(f"The weights {weights} into pounds of", round(kgs_into_pounds,2))

In [ ]:
#Practice

bill_amount=5000
tip_perc=10
tip_amount=bill_amount*tip_perc/100
total_bill=bill_amount+tip_amount
print(f"The Bill amount is {bill_amount} and the Tip Percentage is {tip_perc}")
print(f"Total Bill Amount :{total_bill}")

In [ ]:
dollor=5
value_in_rupee=85
dollor_in_rupee=dollor*value_in_rupee
print(f"The Dollor are {dollor} and Rupee for One Dolor is {value_in_rupee}")
print(f"Total Amount of {dollor}$ into rupees is {dollor_in_rupee}")

In [ ]:
pound=2.2
weight=80
weight_to_pounds=weight*pound
print(f"The weight is the {weight} and one pound is {pound}")
print(f"The Weight of {weight}Kgs into pounds is {weight_to_pounds}")